/* Estilos para el semáforo */
.rectangle {
  width: 130px;
  height: 325px;
  background-color: orange;
  position: static;
  margin: auto;
  padding-top: 1px;
  border: 2px solid black;
  border-radius: 15%;
}

.circle {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  position: relative;
  margin: auto;
  border: 2px solid black;
}